In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import scipy.stats as stats
from sklearn import preprocessing
import math
from matplotlib.mlab import PCA as mlabPCA
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA 
from sklearn import preprocessing
from sklearn import linear_model
pd.options.display.float_format = '{:.3f}'.format
from sklearn import neighbors
from sklearn.model_selection import cross_val_score

# Suppress annoying harmless error.
import warnings
warnings.filterwarnings(action="ignore", module="scipy", message="^internal gelsd")

df_houses = pd.read_csv('KingCountyHomePriceData.csv')

In [2]:
df_houses.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

# Assignment
Find a data set and build a KNN Regression and an OLS regression. Compare the two. How similar are they? Do they miss in different ways?
Describe the models' behaviors and why you favor one model or the other. Try to determine whether there is a situation where you would change your mind, or whether one is unambiguously better than the other. Lastly, try to note what it is about the data that causes the better model to outperform the weaker model.

# OLS Regression

The outcome variable is: price. The four continuous variables are: sqft_living, sqft_lot, bedrooms, bathrooms.

In [3]:
print(df_houses.columns)

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [5]:
# Make a features dataframe 
df_features = df_houses[['sqft_living','sqft_lot','bedrooms','bathrooms']]
df_features.head()

   sqft_living  sqft_lot  bedrooms  bathrooms
0         1180      5650         3       1.00
1         2570      7242         3       2.25
2          770     10000         2       1.00
3         1960      5000         4       3.00
4         1680      8080         3       2.00

In [7]:
# Make a target dataframe
df_target = df_houses[['price']]
df_target.head()

      price
0  221900.0
1  538000.0
2  180000.0
3  604000.0
4  510000.0

In [10]:
regr = linear_model.LinearRegression()

# Fit our model to our data.
regr.fit(df_features,df_target)

# Display the attributes we calculated.
print('Coefficients: \n', regr.coef_)
print('Intercept: \n', regr.intercept_)

print('R squared: \n',regr.score(df_features,df_target))

Coefficients:
 [[  3.14291721e+02  -3.77652579e-01  -5.94068124e+04   6.26866040e+03]]
Intercept:
 [ 79092.32040182]
R squared:
 0.50866332631

# KNN Regression

In [15]:
# Build our model.
knn = neighbors.KNeighborsRegressor(n_neighbors=10)
X = df_features
Y = df_target
knn.fit(X, Y)

score = cross_val_score(knn, X, Y, cv=5)
print("Accuracy: %0.2f (+/- %0.2f)" % (score.mean(), score.std() * 2))

Accuracy: 0.49 (+/- 0.03)

# Comparison

In this case, the dataset includes thousands of homes and related data. The two models seem comparable in their results, because fitting a model by minimizing squared errors (OLS) and finding the closest neighboring points (KNN) with so many data points are roughly comparable methods.